@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main>
	<h2>Welcome to our Book Catalog!</h2>

	<p>Here you can find a wide selection of books on various topics.</p>

	<section>
		<h3>Featured Books:</h3>

		<ul>
			<li><a href="#">Book Title 1</a></li>
			<li><a href="#">Book Title 2</a></li>
			<li><a href="#">Book Title 3</a></li>
			<li><a href="#">Book Title 4</a></li>
		</ul>
	</section>

</main>